.tl-col {
  position: relative;
  width: 100%;
  display: flex;
  cursor: default;
}

.tl-row {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 66px;
  width: auto;
}
.tl-numbers-continer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: white;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgb(233, 233, 231);
}
.tl-numbers-row {
  height: 32px;
  position: relative;
}
.tl-months-item {
  position: absolute;
  top: 0px;
  height: 32px;
  color: rgb(55, 53, 47);
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  padding-top: 6px;
  display: flex;
  align-items: center;
}
.tl-days-item {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 28px;
}
.tl-main-container {
  position: relative;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.tl-col-item {
  position: absolute;
  width: 40px;
  height: 100%;
  border-right: 1px rgb(196, 196, 196) inset;
  cursor: crosshair;
}
.tl-highlighted-number-container {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.tl-today-color {
  background: rgb(211, 79, 67);
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  left: -4px;
  top: -1px;
}
.project-card-height {
  height: 50px;
}
.sidenav {
  min-width: 11rem;
  overflow: hidden;
}